.container {
    background: #3F768C;
    width: 1000px;
    margin: auto;
    padding: 20px;    
}
.box1, .box2, .box3, .box4, .box5 {
    background: #3F768C;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
/* Als transitie */

.container .box1{
    transition-property: margin-left, background-color, border-radius;
    transition-duration: 2s,2s,2s; 
    margin-left: 0;    
}
.container:hover .box1 {
    border-radius: 50%;
    background-color: red;
    margin-left: 870px;
}
.container .box2 {
    transition-property: margin-left, background-color, border-radius;
    transition-duration: 2s,2s,2s; 
    transition-timing-function: ease-out;
    margin-left: 0;      
}
.container:hover .box2 {
    border-radius: 15px;
    background-color: red;
    margin-left: 870px;
}
.container .box3 {
    transition-property: margin-left, background-color, border-radius;
    transition-duration: 2s,2s,2s; 
    transition-timing-function: ease-in;
    margin-left: 0;      
}
.container:hover .box3 {
    border-radius: 15px;
    background-color: red;
    margin-left: 870px;
}
.container .box4 {
    transition-property: margin-left, background-color, border-radius;
    transition-duration: 2s,2s,2s; 
    transition-timing-function: ease-in-out;
    margin-left: 0;      
}
.container:hover .box4 {
    border-radius: 15px;
    background-color: red;
    margin-left: 870px;
}
.container .box5 {
    transition-property: margin-left, background-color, border-radius;
    transition-duration: 2s,2s,2s; 
    transition-timing-function: cubic-bezier(.59, 1.47, 0.51, 0.47);
    margin-left: 0;      
}
.container:hover .box5 {
    border-radius: 15px;
    background-color: red;
    margin-left: 870px;
}