@import url(https://fonts.googleapis.com/css?family=Pacifico);
h1 { 
    font-family: Roboto, sans-serif; 
    text-align: center; 
} 
.banner { 
    font-family: "Pacifico", cursive;
    height: 400px; 
    background-image: url("lemonade.jpg");
} 
.container { 
    text-align: center; 
    font-family: "Pacifico", cursive; 
}

// Opdracht 1
// Nest de slogan selector in de banner selector en geef de slogan selector de volgende values: 
.banner{
    .slogan {
        position: absolute;
        border: 4px solid rgb(0,0,0);
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;   
    }
}

// Opdracht 2
// Nest de span selector in de slogan selector en geef de span selector de volgende values:  
.banner{
    .slogan{
        span {
            font-size: 24px; 
            line-height: 200px;
        }
    }
}

// Opdracht 3 
// Nest de icon selector in de container selector en geef de icon selector de volgende values:

.icon {
    display: inline-block; 
    margin: 2%; 
    border: 4px solid black; 
    font-size: 32px;
}



 