.orange {
    width: 100px;
    height: 100px;
    background: orange;
}
.green {
    width: 50px;
    height: 50px;
    background: green;
    position: relative;
    top: 25px;
    left: 25px;
}
