.backimage {
    background:  url(../home/desierto_00.jpg) no-repeat center center/cover;
    overflow: hidden;
    width   : 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5rem;
    
}
.surname {
    color: white;
}