@import "./variables";
footer {
    background-color:$background-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    i {
        padding-right: 10px;
    }
    .footer-info a {
        color: black;
        display: block;
        text-decoration: none;
        padding-bottom: 3px;
    }
}

