
header {
    position: relative;
    height: 568px;
    top: 50px;
    h2 {
        font-size: 70px;    
    }
    img {
        height: 568px;
        width: 100%;
        margin: 0;
        z-index: -1;
        filter: brightness(50%);
    }
    .info-header {
        position: absolute;
        width: 300px;
        top: 30%;
        left: 57%;
        color: $blue-logo;    
    }
    .button-header {
        position: absolute;
        bottom: -40px;
        padding: 0px; 
        
        .buy {
            color:$blue-logo;
            width: 100px;
            border: 1px solid $blue-logo;
            transition-property: background, color; 
            transition-duration: 0.5s;
            &:hover {
                color:white;
                width: 100px;
                border: 1px solid $blue-logo;
                background: $blue-logo;
            }
        }
    }
    .show {
        color: $background-color;
        width: 100px;
        border: 1px solid $background-color;
        transition-property: background, color; 
        transition-duration: 0.5s;
        &:hover {
            color:white;
            width: 100px;
            border: 1px solid $background-color;
            background: $background-color;
        }
    }
    
}
