// opdracht 1
.img-1 {
    height: 400px*2;
    width: auto;
}
// opdracht 2
.img-2 {
    height: 400px+100;
    width: auto;
}
// opdracht 3
.img-3 {
    height: 400px-300px;
    width: auto;
}
// opdracht 4
.img-4 {
    height: 200px-100px+400px;
    width: auto;
}
// opdracht 5
.img-5 {
    height: 200px*3;
    width: auto;
}
// opdracht 6
.img-6 {
    height: 750px*1;
    width: auto;
}
// opdracht 7
.img-7 {
    height: 30px/5px;
    width: 24px/4;
}
// opdracht 8
.img-8 {
    height: (30px/5px);
    width: (24px/4);
}