.box-1, .box-2, .box-3, .box-4, .box-5, .box-6  {
    background: rgb(121, 180, 121);
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1, .box-4 {
    height: 150px;
}
.box-2 {
    height: 130px;
}
.box-5 {
    height: 180px;
}
.container_5_1 {
    background: yellow;
   
    display: flex;   
    align-items: flex-start;
}
.container_5_2 {
    background: yellow;

    display: flex;   
    align-items: flex-end;;
}
.container_5_3 {
    background: yellow;
    display: flex;   
    height: 300px;
}
.container_5_4 {
    background: yellow;
    width: auto;
    height: 300px;
    display: flex;   
    align-items: center;
}
.container_5_5 {
    background: yellow;
    width: auto;
    height: 300px;
    display: flex;   
    align-items: baseline;;
}
