.container {    
    display: flex;
    flex-wrap: wrap;     
}
.box1, .box2, .box3, .box4, .box5, .box6  {    
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    font-size: 2rem;
}
.box1 {
    background: beige;
}
.box2 {
    background: skyblue;
}
.box3 {
    background: rgba(95, 173, 150, 0.705);
}
.box4 {
    background: white;
}
.box5 {
    background: black;
    color: white;
}
.box6 {
    background: linear-gradient(90deg, blue 0%, white 100%);
}
