img {
    width: 600px;
}
.container {
    position: relative;
}
.yellow {
    position: absolute;
    font-size: 2rem;
    background: yellow;
    width: 650px;
    top: 5px;
}
.grey {
    position: absolute;
    font-size: 2rem;
    background: grey;
    width: 300px;
    top: 300px;
}