.circle {
    position: relative;
    color: white;
    background: black;
    height: 100px;
    width: 100px;
    margin: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.circle::before {
    position: absolute;
    background: black;
    height: 50px;
    width: 50px;
    top: 25px;
    left: 70px;    
    content: ".";
    border-radius: 50%;
}
.circle::after {
    position: absolute;
    background: black;
    height: 50px;
    width: 50px;
    top: 25px;
    right: 70px;    
    content: ".";
    border-radius: 50%;
    transform: rotate(180deg);
}
.container {
    display: flex;
}