img {
    width:700px;
    position: relative;
    text-align: center;
}
.container {
    position: relative;
    width: 500px;
    
}
.paragraph-1 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 30px;
    left: 30px;
    /* right: 30px; */
    color: white;
}
.paragraph-2 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 70px;
    right: 30px;
    /* right: 30px; */
    color: white;
}