* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    margin-bottom: 15px;
}
.container {
    background: rgb(245, 255, 255);
    display: flex;
    margin: 20px;
    justify-content: center;
    width: 90%;  
    margin: auto;     
}
.box1, .box2, .box3, .box4 {   
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;  
}
img {   
    width: 100%;
    height: 100%;   
}
.info-img {
    height: 50%;    
}
.info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%; 
    
}
.title {
    color: blue;
    font-weight: bolder;
    font-size: 16px;  
    margin-top: 20px;  
}
p {
    text-align: center;
}
button {
    background: blue;
    color: white;
    width: 100%;
    padding: 20px;

}
button:hover {
    background: rgb(179, 40, 40);
    color: white;
    width: 100%;
    padding: 20px;
}

@media only screen and (max-width: 1180px) {
    
    .info-img {
        height: 60%;    
    }
    .info-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40%; 
    }
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
    button {
        padding: 16px;
    }
    button:hover {
        padding: 16px;
    }
    
    
    .container {
        flex-wrap: wrap;
        margin: auto;
        }
    }
