.container {
    background: white;
    display: flex;
    margin: 20px;
}
.box1, .box2, .box3, .box4 {
    width: 200px;
    height: 400px;
    border: 1px solid black;
}
img {
    height: 200px;
    
}
.box4 {
    width: ;
}
.title {
    color: blue;
    text-align:center;
    
}
.info {
    
}
button {
    background: blue;
    color: white;
    width: 100%;
    padding: 1rem;
    
}