* {
    box-sizing: border-box;
}
.container {
    background: rgb(245, 255, 255);
    display: flex;
    margin: 20px;
    justify-content: center;       
}
.box1, .box2, .box3, .box4 {   
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
}
img {   
    width: 100%;
    height: 100%;
    margin-bottom: px;   
}
.info-img {
    height: 60%;    
}
.info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
    height: 40%; 
}
.title {
    color: blue;
    font-weight: bolder;
    padding-top: 20px;
    font-size: 20px;    
}
button {
    background: blue;
    color: white;
    width: 100%;
    padding: 2rem;    
}
button:hover {
    background: rgb(179, 40, 40);
    color: white;
    width: 100%;
    padding: 2rem;
}
button:visited {
    background: orange;
    width: 100%;
    padding: 2rem;
    color: white;
}
p {
    text-align: center;
    margin: 20px;
}
@media only screen and (max-width: 1500px) {
    body {
        color: red;
    }
    .container {
        flex-wrap: wrap;
        margin: auto;
        }
    }
