
div {
    position: relative;
    left: 2rem;

}
button {
    position: relative;
    top: 70px;
    width: 700px;
    background-color: turquoise;
    height: 50px;
    border: red 5px solid;
    color: white;
    font-size: 1.5rem;
    
}
button::before {
    position: absolute;
    background: turquoise;
    width: 650px;
    height: 5px;
    left: 0;
    top: 40px;
    z-index: 1;  
    content:"";  
}
button::after {
    position: absolute;
    content:"";
    z-index: 1; 
    background: turquoise;
    width: 650px;
    height: 5px;
    right: 0;
    top: -5px; 

}