.container {
    background: #3F768C;
    width: 1000px;
    margin: auto;
    padding: 20px;    
}
.box1, .box2, .box3, .box4, .box5 {
    background: #3F768C;
    width: 100px;
    height: 100px;
    border: 1px black solid;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* Als animatie */
.box1 {
    animation: backcolor 12s forwards, radius 12s forwards, mov1 8s forwards ease-out; 
    position: relative;
}
.box2 {
    animation: backcolor 12s forwards, corner 12s forwards , mov2 8s forwards 0.5s ; 
    position: relative;
}
.box3 {
    animation: backcolor 12s forwards, mov3 8s forwards ease-in; 
    position: relative;
}
.box4 {
    animation: backcolor 12s forwards, mov4 8s forwards linear;  
    position: relative;
}
.box5 {
    animation: backcolor 12s forwards, mov5 8s forwards;  
    position: relative;
}

@keyframes backcolor {
    0% {
        background: #3F768C;
        
    }
    50% {
        background: #be6545 ;
    }
    100% {
        background: #3F768C;
    }
}
@keyframes radius {
    0% {
        border-radius: 0%;    
    }
    50% {
        border-radius: 50%;
    }
    100% {
        border-radius: 0%;
    }
}
@keyframes corner {
    0% {
        border-radius: 0px;    
    }
    50% {
        border-radius: 15px;
    }
    100% {
        border-radius: 0px;
    }
}
@keyframes mov1 {
    0% {
        transform: translate(0);   
    }
    50% {
        transform: translate(870px); 
    }
    70% {
        transform: translate(870px); 
    }
    100% {
        transform: translate(0); 
    }
}
@keyframes mov2 {
    0% {
        transform: translate(0);   
    }
    50% {
        transform: translate(870px); 
    }
    70% {
        transform: translate(870px); 
    }
    100% {
        transform: translate(0); 
    }
}
@keyframes mov3 {
    0% {
        transform: translate(0);   
    }
    50% {
        transform: translate(870px); 
    }
    70% {
        transform: translate(870px); 
    }
    100% {
        transform: translate(0); 
    }
}
@keyframes mov4 {
    0% {
        transform: translate(0);   
    }
    50% {
        transform: translate(870px); 
    }
    70% {
        transform: translate(870px); 
    }
    100% {
        transform: translate(0); 
    }
}
@keyframes mov5 {
    0% {
        transform: translate(0);   
    }
    25% {
        transform: translate(200px); 
    }
    30% {
        transform: translate(160px);
    }
    50% {
        transform: translate(870px); 
    }
    70% {
        transform: translate(870px); 
    }
    75% {
        transform: translate(690px); 
    }
    80% {
        transform: translate(720px); 
    }
    100% {
        transform: translate(0); 
    }
}
