* {
    padding: 0;
    margin: 0;
}
.container {
    background: yellow;
    height: 600px;
    display: flex; 
    margin: 1rem;  
    flex-direction: column;
    justify-content: center;
}
.box1, .box2, .box3, .box4, .box5, .box6  {
    background: rgb(121, 180, 121);;
    height: 50px;
    margin: 10px;
}
.box1 {
    width: 96%;
}
.box2 {
    width: 40%;
}
.box3 {
    width: 55%;
}
.box4 {
    width: 65%;
}
.box5 {
    width: 25%;
}
.box6 {
    width: 35%;
}