* {
    /* margin: 0;
    border: 0; */
    box-sizing: border-box;
}
.container {
    background:#53a5c5;
    width: 1000px;
    height: 500px;
    margin: auto;
    padding: 20px;
    position: relative;    
}
.box1, .box2, .box3, .box4 {
    background: #69b7d6;
    width: 50px;
    height: 50px;
    border: 1px black solid;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box1 {
    position: absolute;
    top: 225px;
    right: 475px;
    margin-top: 0; 
    margin-right: 0;
    transition-property: top, right;
    transition-duration: 1s,2s;
    transition-delay: 0, 2s;       
}
.container:hover .box1 {
    position: absolute;
    top: 0px;
    right: 0px;   
}
.container .box2 {
    position: absolute;
    top: 225px;
    right: 475px;  
    transition-property: top, right;
    transition-duration: 1s,2s;
    transition-delay: 0, 2s;      
}
.container:hover .box2 {
    position: absolute;
    top: 0px;
    right: 950px;        
}
.container .box3 {
    position: absolute;
    top: 225px;
    right: 475px;
    transition-property: top, right, margin;
    transition-duration: 3s,0.4s;
    transition-delay: 2s, 1.5s;        
}
.container:hover .box3 {
    position: absolute;
    top: 450px;
    right: 950px;        
}
