
.container {
    position: relative;
    background: red;
    width: 200px;
    height: 200px;
    margin: 100px;
}
.container::before {
    position: absolute;
    transform: rotate(35deg);
    content: "" ;
    width: 200px;
    height: 200px;

}