
.contactOwn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 65%;
    margin: 0 auto;
}
.contactOwn-info {
    text-align: left;
    margin: 10px;
    width: 50%;
    
}
.contactOwn-info-title {
    text-align: left;
    margin: 0;
    padding: 10px;
    font-size: 45px;
}
.contactOwn-info p {
    padding: 10px;
    text-align: left;
    width: 80%;

}
.contactOwn-form {
    text-align: left;
}
.field {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
button {
    background-color: lightblue;
}
span {
    font-size: 20px;
    padding: 10px;
}
@media only screen and (max-width: 700px) {
    .contactOwn-container{
        flex-direction: column;
        height: 700px;

    }
    .contactOwn-info {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 1100px) {
    .contactOwn-container{
        flex-direction: column;
        height: 700px;

    }
    .contactOwn-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}