.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px black solid;
    box-sizing: border-box;
}
.footer-container a{
    font-size: 25px;
    color: black;
}
.footer-container {
    position: relative;
    bottom: 0;
}
