* {
    box-sizing: border-box;
}
.container {
    background: rgba(226, 225, 225, 0.452);
    width: 800px;
    height: 400px;
    display: flex;   
    margin: auto;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.box {
    background: white;
    height: 300px;
    border-radius: 15px;
    color: black;
    padding: 2rem;
    text-align: center;
    box-shadow: rgb(136, 136, 136) 4px 4px 12px 4px;
    margin: 0 -4em;
    transition: margin 1s, color 1s;
}
.box:hover {   
    margin: 0 6em;
    color: red;  
}







