* {
    /* margin: 0;
    border: 0; */
    box-sizing: border-box;
}
.container {
    background:#53a5c5;
    width: 1000px;
    height: 500px;
    margin: auto;
    padding: 20px;
    position: relative;    
}
.box1, .box2, .box3, .box4 {
    background: #69b7d6;
    width: 50px;
    height: 50px;
    border: 1px black solid;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    animation: mov1 10s forwards infinite; 
    position: absolute;
    top: 0px;
    right: 0px;        
}
.box2 {
    animation: mov2 10s forwards infinite; 
    position: absolute;    
}
.box3 {
    animation: mov3 10s forwards   infinite ; 
    position: absolute;    
}
.box4 {
    position: absolute;
    top: 450px;
    left: 0px;
}

@keyframes mov1 {
    0% {
        top: 0;
        left: 950px; 
    }
    10% {
        top: 100px;
        left: 950px;
    }
    20% {
        top: 225px;
        left: 475px;
    }
    60% {
        top: 225px;
        left: 475px; 
    }
    70% {
        top: 125px;
        left: 475px;
    }
    100% {
        top: 0px;
        left: 950px; 
    }
}
@keyframes mov2 {
    0% {
        top: 0;
        left: 0; 
    }
    10% {
        top: 100px;
        left: 0;
    }
    20% {
        top: 225px;
        left: 475px; 
    }
    60% {
        top: 225px;
        left: 475px; 
    }
    70% {
        top: 125px;
        left: 475px;
    }
    100% {
        top: 0;
        left: 0;
    }
}
@keyframes mov3 {
    0% {
        top: 450px;
        left: 0px;   
    }
    10% {
        top: 450px;
        left: 475px;
    }
    50% {
        top: 225px;
        left: 475px;
    }
    80% {
        top: 225px;
        left: 475px;
    }
    90% {
        top: 225px;
        left: 0;
    }
    100% {
        top: 450px;
        left: 0px;
    }
}

