
.content {
    flex: 3;
    display: inline-block;
    background-color:rgb(251, 248, 243);
    .content-1, .content-2 {
        background-color:rgb(251, 248, 243);
        width: 100%;
    }
}
.nav {
    background-color: $primary-color;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex: 1;
    .menu-title h2 {
        color: white;
        border-bottom: 1px white solid;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }
    .menu-links a{
        color: white;
        text-decoration: none ;    
        transition: opacity,0.9s;
        list-style-type: none;
    }
    & a:hover {
        opacity: 0,4;
        color:rgb(171, 182, 207);
    }
    .menu-links li{
        padding: 15px;
        list-style-type: none; 
        margin: 10px;
    }
    .menu-links {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        list-style-type: none;  
    }
}


