* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    display: flex; 
    flex-direction: row;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;    
}
.darker {
    background-color: #a0aec0;
}
.bigger-font {
    font-size: 60px;
}
h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    color:$primary-color;
    text-align: center;
    margin: 2rem -5px -5px 0;
}