* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 600px;
}
.container {
    position: relative;
    width: 650px;
}
.yellow {
    position: absolute;
    font-size: 2rem;
    background: yellow;
    width: 550px;
    top: 10px;
    left: 10px;
    height: 50px;
    
}
.grey {
    position: absolute;
    font-size: 2rem;
    background: grey;
    width: 300px;
    ;
    top: 210px;
    left: 290px;
}
.yellow-empty {
    position: absolute;
    font-size: 2rem;
    background: yellow;
    width: 50px;
    height: 50px;
    left: 600px;
    bottom: 203px;

    
}