@import url(https://fonts.googleapis.com/css?family=Pacifico);
// Variables Opdracht  1,2,3
$translucent-white:rgba(128, 17, 17, 0.3);
$icon-square-length:300px;
$standard-border:4px solid black;

h1 { 
    font-family: Roboto, sans-serif; 
    text-align: center; 
} 
.banner { 
    font-family: "Pacifico", cursive;
    height: 400px; 
    background-image: url("lemonade.jpg");
} 
.container { 
    text-align: center; 
    font-family: "Pacifico", cursive; 
}

// Nesting Opdracht 1
// Nest de slogan selector in de banner selector en geef de slogan selector de volgende values: 
.banner{
    .slogan {
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;  
        background-color: $translucent-white;
    }
}

// Nesting Opdracht 2
// Nest de span selector in de slogan selector en geef de span selector de volgende values:  
.banner{
    .slogan{
        span {
            font-size: 24px; 
            line-height: 200px;
            
        }
    }
}

// Nesting Opdracht 3 
// Nest de icon selector in de container selector en geef de icon selector de volgende values:

.container {
    .icon {
    display: inline-block; 
    margin: 2%; 
    border: $standard-border; 
    font-size: 32px;
    width: $icon-square-length;
    height: $icon-square-length;
    }
}
img {
    width: 200px;
}

// Variables opdracht 4

div {
    & span {
        color:rgb(255, 255, 255);
    }
}



 