* {
    padding: 0;
    margin: 0;
}
.container {
    background: yellow;
    height: 600px;
    margin: 1rem; 
    display: flex;     
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.box1, .box2, .box3, .box4, .box5, .box6  {
    background: rgb(121, 180, 121);;
    width: 100px;
    margin: 10px;
}
.box1 {
    height: 96%;
}
.box2 {
    height: 40%;
}
.box3 {
    height: 55%;
}
.box4 {
    height: 65%;
}
.box5 {
    height: 25%;
}
.box6 {
    height: 35%;
}