table {
    margin-bottom: 1rem;
    border-collapse: collapse;
}
table, tr, th, thead,td {
    border: 1px black solid;
   

}
input {
    width: 100%;
    box-sizing:border-box;
    color: oli;
}

