/* Universal selector */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* id selector */
#navbar {
    background: honeydew;
}
/* class selector */
.green-txt {
    color: green;
}
/* type selector */
li {
    color: red;
}
/* atribute selector */
a[target=_blank] {
    background-color: yellow;
  }