@mixin button {
    color: rgba(0, 0, 0, 0.568);
    background-color: rgb(143, 212, 212);    
}
@mixin button-hover {
    color:  rgba(0, 0, 0, 0.568);;
    background-color: beige; 
}
@mixin square-color {
    margin: 1rem;
    width: 200px;
    height: 200px;
    background-color:  rgb(143, 212, 212);
    transition: background-color 1s;    
}

button {
    @include button;
    transition:  background-color 1s;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    &:hover {
        @include button-hover;
    }
}
.colorChangingSquare {
    &:hover {
    @include square-color( blueviolet);         
   }
}